services:
  database:
    image: postgres:16-alpine
    container_name: ${PROJECT_NAME}_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  php:
      build:
        context: .
        dockerfile: docker/php/Dockerfile
        args:
          USER_ID: ${USER_ID}
          GROUP_ID: ${GROUP_ID}
      container_name: ${PROJECT_NAME}_php
      volumes:
        - ./backend:/var/www/html
      environment:
        DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=16&charset=utf8"
        TZ: Europe/Madrid # Configura la zona horaria a nivel de sistema operativo
      depends_on:
        - database

  nginx:
    image: nginx:alpine
    container_name: ${PROJECT_NAME}_nginx
    ports:
      - "${HTTP_PORT}:80"
    volumes:
      - ./backend:/var/www/html/backend
      - ./frontend:/var/www/html/frontend
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  mailer:
    image: axllent/mailpit
    container_name: ${PROJECT_NAME}_mailer
    ports:
      - "${MAILER_PORT}:8025"

volumes:
  db-data:
