* {
  box-sizing: border-box; /* Recomendable para que paddings no rompan anchos */
  -webkit-tap-highlight-color: transparent; /* Toques reactivos: Asegúrate de que los botones y Toasts no tengan el "flash" azul al tocarlos. */
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-main);
  font-size: var(--font-size-base);

  /* Mejora el renderizado en pantallas de alta densidad */
  letter-spacing: -0.011em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* Soporte para Firefox en Mac */
}

// Contraste de los inputs: Ya que usamos is-invalid con borde rojo, asegúrate de que el texto sea siempre legible.
input::placeholder {
  color: #9ca3af; /* Gris claro estándar para que no se confunda con texto real */
}
