nelmio_api_doc:
    areas:
        path_patterns: # Qué rutas documentar
            - ^/api(?!/doc$)
    documentation:
        info:
            title: API
            description: Documentación oficial de la plataforma logística Esku
            version: 1.0.0
        components:
            securitySchemes:
                bearerAuth:
                    type: http
                    scheme: bearer
                    bearerFormat: JWT
        security:
            - bearerAuth: []
