<h1>¡Bienvenido a Esku Logistics, {{ user.name }}!</h1>
<p>Para empezar a gestionar tus envíos, por favor confirma tu cuenta haciendo clic en el siguiente enlace:</p>
<a href="{{ url }}">Confirmar mi cuenta</a>
